<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1> Tech Blog </h1>
    {{#if logged_in}}
    <nav id="nav-mobile nav-style">
      <a href="../" class="button-style btn" id="homeBtn">Home</a>
      <a href="../dashboard" class="button-style btn" id="dashBtn">Dashboard</a>
      <a href="../createpost" class="button-style btn" id="postBtn">Create Post</a>
      <a href="../posts" class="button-style btn" id="postBtn">Posts</a>
      <a class="button-style btn" id="logoutBtn">Logout</a>
    </nav>
   {{else}}
    <nav id="nav-mobile nav-style">
      <a href="../login" class="button-style btn" id="login">Login</a>
      <a href="../signup" class="button-style btn" id="chatBtn">Signup</a>
    </nav>
    {{/if}}
  </header>
  {{!-- <main class="container container-fluid mt-5"> --}}
    {{{ body }}}
  {{!-- </main> --}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
 <footer>
      
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>