<body id="grey-background">
<br>
<div id="white-background" class="container post z-depth-3 post-style">
    <div class="row center">
        <h3> Create New Blog Post </h3>
        <p>Add your latest blog post</p>
        <form action='post_create' method="POST" class="col l10 m6 s4 center post new-post-form">
            <div class="row">
                <div class="input-field col s12">
                    <input id="blogTitle" type="text" name="create_post_title">
                    <label for="name">Title:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="blogDescription" class="materialize-textarea" name="create_post_desc"></textarea>
                    <label for="textarea1">Summary:</label>
                </div>
            </div>
            {{!-- <div class="row center">
            <p>We do not censor. All views are those of the author.</p>
            </div> --}}

        </form>

    </div>
    <button type="submit" class="button-style btn center save">Save</button>
</div>
</body>

<script src="/js/blog.js"></script>